* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }

.color-box {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes pulse {
    0% {
        background-color: aqua;
    }

    100% {
        background-color: aquamarine;
    }
    
}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;

  }

  .project-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .project-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .project-column {
    margin-top: 8px;
    vertical-align: middle;
    background-color: #aaa;
  }

  @media (max-width: 800px) {
    .project-column {
        flex: 50%;
        max-width: 50%;
    }
    
  }

  @media (max-width: 600px) {
    .project-column {
        flex: 100%;
        max-width: 100%;
    }
}

.portfolio-wrapper {
    margin: 0px;
}




    
}
