* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS';
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    margin: 1% auto;
    background-color: pink;
}

.header-bundle {
    display: flex;
}

.profile-picture {
    width: 25%;
}

.header-bundle h1 {
    display: flex;
    font-size: 70px;
}


.navbar {
    display: flex;
    /* padding-top: 15px;
    margin-right: 20px;
    float: right; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: flex;
    /* margin-left: 40px; */
}

/* #fancy-box-image {
    align-self: center;
    border-radius: 100%;
    margin-right: 50%;
    width: 15%;
} */
/* 
.portfolio-headings {
    display: flex;
    flex-direction: column;
}

#about-me {
    display: flex;
    align-items: center;
    margin-right: 50%;
}

/* WHEN I am presented with the developer's first application, THEN that application's image should be larger in size than the others */
/* #project-1-image {

}
.card-headings {
    background-color:aquamarine;
    color: black;
    padding: 10px;
    border: 10px; */
/* } */

/* #project-1 {
    height: 800px;
    width: 100%;
    border: 10px;
    margin-bottom: 25px;
    background-image: url("../images/1-pexels-fauxels-3183132.jpg");
    background-size: cover;
    background-position: center; */
/* } */
/* .flexcontainer-project-cards {
    display: flex;
    flex-wrap: wrap;
    
}

.flexcontainer-project-cards img {
    width: 100%;
    min-width: 400px;
}

.footer {
    padding: 0;
    background-color: gray;
    color: white; 
} */

.work-container {
    display: flex;
    width: 100%;
}

.container-header {
    background: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
